$DisplayFlex: flex;
$JustifyContentCenter: center;
$AlignItemsCenter: center;
$WhiteColor: white;
$ColorBlack: black;
$BorderRadius: 4px;
$UploadButtonColor: #8c7cdb;
$PositionsAbsolute:absolute;
$CursorPointer:pointer;