@import "./Variables/Variables.scss";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    // transition: background 1.3s;
    transition: opacity 1.3s;
}
p {
    padding: 0;
    margin: 0;
    margin-bottom: 0rem !important;
}
.OuterContainer {
    position: relative;
}
.BottomPageCurve {
    position: absolute;
    margin-top: -41px;
}
.BottomPageCurveCoverLetter {
    position: absolute;
    bottom: 78px;
    left: 202px;
    z-index: 0;
}
.darkColor {
    color: #686868 !important;
}
.darkColor::placeholder {
    color: #6868688a !important;
}
.blueColor {
    color: #008cff !important;
}
.blueColor::placeholder {
    color: #008cffb0 !important;
}
.redColor {
    color: #ff0001 !important;
}
.redColor::placeholder {
    color: #ff8080 !important;
}
.greenColor {
    color: #00b400 !important;
}
.greenColor::placeholder {
    color: #80da80 !important;
}
.CommonCssClassWhiteColor {
    color: white !important;
}
.CommonCssClassAbsolutePosition {
    position: absolute;
}
.CommonCssClassCursorPointer {
    cursor: pointer;
}
.BorderRadius {
    border-radius: $BorderRadius;
}
.fontSize14 {
    font-size: 14px;
}
.IconsFontSize12 {
    font-size: 14px;
    color: #384347;
}
.FontWeight {
    font-weight: 700;
}
.LeftRightTopBottomZero {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.outerContainerResume {
    background-color: $WhiteColor;
    color: $ColorBlack;
    min-height: 770px;
    width: 940px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    z-index: 3;
}
.outerWrapperOfBox {
    z-index: 4;
    padding: 8px 16px;
    border: 1px solid transparent;
}
.HoverBackgroundColor {
    z-index: -1;
}
.outerWrapperOfBox:hover {
    border: 1px solid #60d5ba;
}
.textarea {
    border: none;
    resize: none;
    overflow: hidden;
    width: 100%;
    font-weight: 700;
    background-color: transparent;
}
.textareaHeaderTitle {
    font-size: 42px;
    line-height: 50px;
    color: $ColorBlack;
    font-weight: 700 !important;
}
.textareaHeaderSubTitle {
    font-size: 21px;
    line-height: 25px;
    color: #686868;
    margin-top: -12px;
}
.HeaderIcons {
    color: #686868;
    font-size: 14px;
}
.textareaHeaderLinksTitle {
    font-size: 13px;
    line-height: 16px;
    color: #384347;
    font-weight: 500;
}
.textareaHeaderLinksTitle::placeholder {
    color: #9ca1a3;
}
.textareaHeaderSubTitle::placeholder {
    color: #b4b4b4;
}
.textareaHeaderTitle::placeholder {
    color: #808080;
}
.OpacityInPlaceHolder::placeholder {
    opacity: 0.3;
}
textarea:focus {
    outline: none;
}
.OuterWrapperInputFieldHeader {
    width: 100%;
}
.outerWrapperUserImgHover {
    transition: all 1.3s ease !important;
}
.outerWrapperUserImgHover:hover {
    background-color: rgba(0, 0, 0, 0.568);
}
.UploadIconUserImg:hover {
    background-color: #038162;
}
.CommonCssClassUploadIconAndEyeIcon {
    font-size: 35px;
    padding: 7px;
}
.UploadIconUserImg {
    margin: 0px 5px 0 0;
    background-color: #00c091;
}
.EyeIconUserImg {
    margin: 0px 0px 0px 6px;
    background-color: #ff576f;
}
.EyeIconUserImg:hover {
    background-color: #92051a;
}
.outerWrapperModal {
    padding: 0px 36px 0px 36px;
    border-radius: 10px;
    background-color: $WhiteColor;
    z-index: 9;
    position: fixed;
    top: 45px;
}
h1 {
    font-size: 1.5rem;
}
.outerWrapperModalImagePicker {
    width: 32%;
    top: 67px;
}
.outerWrapperModalSignIn {
    width: 33%;
    top: 95px;
    padding-bottom: 30px;
}
.outerWrapperModalAddSections {
    width: 1293px;
}
.facebookIconModal {
    margin: 4px 0px 0px 8px;
}
.backGroundOfModal {
    left: 0;
    right: 0;
    top: -80px;
    bottom: 0;
    z-index: 7;
}
.outerWrapperCloseIconModal {
    margin: 20px 0 0 0;
}
.PhotoLabelModal {
    color: #b2b4b6;
    font-size: 18px;
    font-weight: 400;
}
.closeModal {
    font-size: 25px;
    color: #b2b4b6;
    transition: all 0.5s ease-in-out;
}
.closeModal:hover {
    transform: rotate(90deg);
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}
.UserImgHover {
    z-index: 1;
    text-align: $AlignItemsCenter;
    color: aliceblue;
    border-radius: 96px;
}
.UserImgHover:hover {
    background-color: rgba(0, 0, 0, 0.712);
}
.deleteIconUserImage {
    padding: 10px;
    font-size: 59px;
    margin: 47px 0px 0px 0px;
}
.UserImg {
    height: 140px;
    width: 140px;
    object-fit: cover;
}
.backButtonsUserUploadPhoto {
    border: 1px solid $UploadButtonColor;
    color: $UploadButtonColor;
    font-size: 21px;
    padding: 9px 25px 9px 25px;
}
.AcceptButtonsUserUploadPhoto {
    font-size: 21px;
    padding: 9px 25px 9px 25px;
    background-color: $UploadButtonColor;
}
.outerWrapperTextLabelImportPhoto {
    color: #b2b4b6;
    font-size: 18px;
    margin: 17px 0 10px 0;
}
.outerWrapperFromComputer {
    border: 1px solid $UploadButtonColor;
    font-size: 19px;
    padding: 4px;
    color: $UploadButtonColor;
    width: 145px;
}
.outerWrapperOKButtonModal {
    padding: 0px 35px 0px 35px;
    background-color: $UploadButtonColor;
}
.outerWrapperOKButtonModal:hover {
    background-color: #3a1bd6;
    color: $WhiteColor;
}
.outerWrapperNotesLabelModal {
    bottom: -93px;
    left: 0;
    z-index: 0;
    background-color: #e6e6e6;
    font-size: 17px;
    line-height: 22px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 30px 40px 30px;
    color: rgba(0, 0, 0, 0.527);
}
.SettingContainerInTopOfHeader {
    background-color: $WhiteColor;
    right: 48%;
    padding: 11px;
    top: 0px;
    border-radius: 20px;
    gap: 14px;
}
.IconsInTopOfHeader {
    color: #384347;
    font-size: 16px;
    position: relative;
}
.IconsInTopOfHeader:hover {
    color: #00c091;
    transition: color 0.5s;
}
.alert-enter {
    opacity: 0;
    transition: opacity 1300ms, transform 300ms;
}
.alert-enter-active {
    opacity: 1;
    transition: opacity 1300ms, transform 300ms;
}
.alert-exit {
    opacity: 1;
}
.alert-exit-active {
    opacity: 0;
    transition: opacity 1300ms, transform 300ms;
}
.outerContainerRadioButtons {
    border-top: 2px solid #eeeeee;
    padding-top: 12px;
    gap: 13px;
    margin-top: 10px;
}
input[type="radio"] {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    margin-top: 3px;
    border-radius: 50%;
    outline: none;
    background-color: #cccccc;
}
input[type="radio"]:hover {
    color: #a0a0a0;
}
input[type="radio"]:before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}
input[type="radio"]:checked {
    border-color: #54caff;
}
input[type="radio"]:checked:before {
    background: #00c091;
}
.LabelPhotoStyle {
    color: #384347;
    font-weight: 400;
    transition: color 0.2s ease-in-out;
}
.LandingPageMainHeading {
    font-size: 50px;
    font-weight: bolder;
    margin-top: 135px !important;
}
.outerRapperLandingPagerButtonCreateCV {
    width: 200px;
}
.LandingPagerButtonCreateCV {
    text-align: center;
    font-size: 30px;
    background-color: #00c091;
    padding: 5px 10px;
    width: 15% !important;
    font-weight: 500;
}
.LandingPagerButtonCreateCV:hover {
    background-color: #038564;
}
.LoginButton:hover {
    background-color: #058061;
}
.LoginButton {
    background-color: #00c091;
}
.CommonSccClassSignInAndLogInButton {
    padding: 6px 16px;
    font-size: 16px;
    letter-spacing: 1px;
}
.SignInButton {
    background-color: #efefef;
    color: black;
}
.SignInButton:hover {
    background-color: #a7a7a7;
}
.PlusIconInAddSectionButtonColor {
    color: #8c7cdb;
}
.PlusIconInAddSectionButtonColor:hover {
    color: #8c7cdb9f;
    transition: color 1.3s;
}
.PlusIconInAddSectionButton {
    font-size: 23px;
}

.RearrangeButtons {
    color: #626b6e;
}
.RearrangeButtons:hover {
    transition: color 1.3s;
    color: #626b6e8e;
}
.DownloadButton {
    color: #626b6e;
}
.DownloadButton:hover {
    transition: color 1.3s;
    color: #626b6e8e;
}
.linkColorHeader {
    color: #384347;
}
.linkColorHeader:hover {
    color: #8c7cf1;
    transition: color 1.3s;
}
input {
    outline: none;
    border: none;
    background-color: unset;
}
.SignUPName {
    border: 1px solid #b3b3b3;
    width: 100%;
    padding: 11px;
}
.HeadingTextHolderSignIn {
    color: #485255;
    text-align: center;
    font-size: 25px;
}
.CheckBox {
    background-color: transparent;
    border: 1px solid #e6e6e6;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    margin: 7px 15px 0 0px;
}
.InnerTextCheckBox {
    gap: 3px;
    color: #576064;
}
.SubmitButtons {
    background-color: #00c091 !important;
    border-color: #00c091 !important;
    padding: 11px 75px;
    font-size: 18px;
    text-align: center;
    margin: 18px 0 0 0;
}
.SubmitButtons:hover {
    color: #fff !important;
    background-color: #008d6a !important;
}
.RotateRightSideCurveAtTheBottomOfResumeContent {
    transform: skew(2deg) rotate(3deg);
}
.RotateLeftSideCurveAtTheBottomOfResumeContent {
    transform: rotate(-2deg);
}
.CurveAtTheBottomOfResumeContent {
    box-shadow: 0 31px 10px #0c0c0c;
    height: 10px;
    width: 467px;
    margin-left: 4px;
}
.fade-enter .btnRusme {
    opacity: 0;
    transform: translateX(-100%);
}
.fade-enter-active .btnRusme {
    opacity: 1;
    transform: translateX(0%);
}
.fade-exit .btnRusme {
    opacity: 1;
    transform: translateX(0%);
}
.fade-exit-active .btnRusme {
    opacity: 0;
    transform: translateX(100%);
}
.fade-enter-active .btnRusme,
.fade-exit-active .btnRusme {
    transition: opacity 500ms, transform 500ms;
}
.HeaderDragAndDrop {
    background-color: #e6e6e6;
    padding: 15px 0px;
    text-align: center;
    color: #535d60;
    font-weight: 500;
}
.outerWrapperHeaderDragAndDrop {
    width: 359px;
    padding: 10px;
    background: #fff;
}
.OuterWrapperDragAndDropComponent {
    padding: 1px 10px;
    background: #fff;
}
.DragAndDropContinueButton {
    background-color: #00c091;
    // position: fixed;
    bottom: 40px;
    text-align: center;
    line-height: 1.428571429;
    padding: 6px 14px;
}
.DragAndDropContinueButton:hover {
    color: #fff;
    background-color: #008d6a;
}
.DNDItems {
    background-color: #3e9ad9;
    cursor: all-scroll !important;
    position: relative;
}
.CloseIconInDnd {
    right: 2px;
    top: 2px;
    font-size: 21px;
}
.ColonIconInDnd {
    left: 4px;
    top: -6px;
    font-size: 21px;
}
.DNDItems:active {
    background-color: #2dc08d;
}
.DNDItems:hover {
    background-color: #2dc08d;
    transition: none;
}
.DNDMainHeading {
    font-size: 20px;
    text-align-last: center;
}
.outerWrapperAddItemsLeftSection {
    width: 60%;
    padding: 15px;
}
.outerWrapperAddItemsRightSection {
    width: 100%;
    padding: 15px;
}
.outerWrapperButtonRightSection {
    background-color: #d3d2d6;
    height: 350px;
}
.outerWrapperButtonLeftSection {
    background-color: #d3d2d6;
    height: 350px;
}
.ButtonAddNewSection {
    background-color: #8b7cda;
    padding: 10px;
    width: 160px;
    height: 45px;
    margin-top: -17px;
}
.ButtonAddNewSection:hover {
    background-color: #5338db;
}
.OuterWrapperModalTemplate {
    position: fixed;
    right: 0;
    top: 80px;
    width: 25%;
    height: 692px;
}
.DropDown {
    background-color: white;
    padding: 3px;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.TextHolderDropDown {
    text-align: center;
    padding: 2px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.CheckMark {
    color: white;
    font-size: 50px;
}
.borderColor {
    border: 6px solid black;
}
.OuterWrapperDropDown {
    position: fixed;
    right: 42%;
    top: 123px;
    width: 15%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.OuterWrapperDropDownAlertMessage {
    position: fixed;
    right: 35%;
    top: 30%;
    width: 30%;
    z-index: 999;
}
.TextHolderTemplate {
    text-align: center;
    margin: 1px;
}

.menu-enter {
    max-height: 0px;
    -webkit-transition: max-height 1s ease;
    overflow: hidden;
}
.OuterWrapperBackGroundImg {
    overflow-y: scroll;
    height: 451px;
    padding: 16px;
}
.menu-enter.menu-enter-active {
    height: auto;
    max-height: 100px;
}

.menu-leave {
    max-height: 100px;
    -webkit-transition: max-height 1s ease;
}

.menu-leave.menu-leave-active {
    overflow: hidden;
    -webkit-transition: max-height 1s ease;
    max-height: 0px;
}
.testModalBackGroundImg {
    background-color: white;
    padding: 1px 0px 106px 0;
}
.TemplateBackgroundImg {
    width: 87px;
    margin: 3px 9px 0 0;
    border: 1px solid rgba(0, 0, 0, 0.178);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border: 1px solid transparent;
}
.TemplateBackgroundImg:hover {
    border: 1px solid #008d6a;
}
.TemplateImg {
    width: 98%;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    border: 1px solid transparent;
}
.TemplateImg:hover {
    border: 1px solid #008d6a;
}
.outerWrapperCompleteBox {
    border-radius: 5px;
    z-index: 3;
}
.headingOptionBoxRight {
    top: -39px;
    z-index: 4;
    background-color: white;
    border-radius: 24px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.outerWrapperHeaderIcons {
    padding: 0px 5px;
    border-right: 1px solid #ebebeb;
    display: flex;
    align-items: center;
}
.outerWrapperPlusAndNewEntry {
    color: white;
    background-color: rgb(0, 192, 145);
    border-right: 1px solid;
    border-radius: 24px 0px 0 24px;
    padding: 4px 12px;
}
.outerWrapperPlusAndNewEntry:hover {
    background-color: rgb(1, 119, 90);
}
.newEntryPlusIcon {
    font-size: 16px;
}
.newEntryText {
    font-size: 14px;
    font-weight: 500;
    padding: 6px;
}
.DeleteIcon {
    font-size: 19px;
    color: #384347;
}
.DeleteIcon:hover {
    color: red;
}
.ArrangeIcon {
    color: #384347;
}
.ArrangeIcon:hover {
    color: #00c091;
}
.HeadingNameBox {
    position: relative;
    padding-left: 14px;
    padding-right: 14px;
    z-index: 1;
}
.SectionHeaderTextHolder {
    font-size: 28px;
    width: 100%;
    border-bottom: 3px solid #000;
    text-transform: uppercase !important;
    font-weight: 700;
    margin-bottom: -6px;
}
.SectionHeaderTextHolder::placeholder {
    color: black;
}

.outerWrapperListIcon {
    width: 261px;
    right: 33px;
    top: 49px;
    background-color: white;
    padding: 10px 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.iconsList {
    padding: 9px;
    text-align: center;
    font-size: 26px;
}
.outerWrapperBox {
    position: relative;
    border: 1px solid transparent;
    z-index: 1;
    box-sizing: border-box;
    padding: 8px 16px;
}
.outerWrapperBox:hover {
    border: 1px solid rgb(96, 213, 186);
}
.TextHolderSectionsTitle {
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize !important;
}
.TextHolderSectionOuterHeader {
    font-size: 21px;
    color: black;
    font-weight: unset !important;
    text-transform: capitalize !important;
}
.TextHolderSectionOuterHeader:focus::placeholder {
    color: #808080;
}
.TextHolderSectionSubHeader {
    font-size: 15px;
    color: #808080;
    font-weight: 700;
}
.TextHolderSectionLocationAndTime {
    font-size: 12px;
    color: rgba(71,72,75,.81)!important;
    font-weight: unset !important;
}
.OuterWrapperDatePicker:hover {
    cursor: pointer;
    opacity: 0.3;
}
.TextHolderSectionLocationAndTime:focus::placeholder {
    color: #808080;
}
.TextHolderSectionSubHeader:focus::placeholder {
    color: #808080;
}
.Bullets {
    font-size: 13px;
    font-weight: unset !important;
    color: #384347;
}
.Bullets:focus::placeholder {
    color: #9ca1a3;
}
.TextHolderSectionsTitle:focus::placeholder {
    color: #808080;
}
.SectionBorderBottom {
    border-top: 1px dashed #a2a1a5;
    z-index: 999;
    width: 93.5%;
    bottom: -1px;
}
.SearchFieldInputPlaceHolder::placeholder {
    font-style: italic;
    font-weight: 600;
}
.HoverImage1 {
    position: absolute;
    top: 0;
    left: 9px;
    right: 10px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.493);
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.AddtoResume {
    text-align: center;
    color: #fff;
    background-color: #8c7cdb;
    border-color: transparent;
    padding: 8px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 700;
}
.outerContainerSection {
    padding: 0px 30px 51px 30px;
}
.HeadingSection {
    text-align: center;
    font-size: 33px;
}
.subHeadingSection {
    text-align: center;
    font-size: 20px;
    margin: 5px 0px 10px 0;
}

.outerWraperSection {
    overflow-y: scroll;
    height: 370px;
    // border: 1px solid red
}
.outerWraperMidButtons {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    gap: 5px;
    font-size: 19px;
    color: rgba(71, 72, 75, 0.81);
    cursor: pointer;
}

.RemoveSection {
    text-align: center;
    border: 1px solid white;
    color: #fff;
    display: inline;
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
    font-weight: 700;
    text-align: center;
    top: 77px;
    border-radius: 6px;
    right: 66px;
}
.summary p::before {
    content: "\A";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.479);
    margin: 8px 0px 0px -10px;
    display: inline;
    position: absolute;
}
.medium-editor-element {
    word-wrap: break-word;
    min-height: unset !important;
    outline: none !important;
}
.medium-editor-placeholder:after {
    pointer-events: none;
}
.InnerWraperToggleButtonsSlice {
    display: flex;
    align-items: center;
    gap: 8px;
}
.ToggleButtonsLabelSlice {
    transition: color 0.2s ease-in-out;
    font-size: 17px;
    color: #384347;
    cursor: pointer;
}
.RadioButtonsToggleButtons {
    display: block;
    cursor: pointer;
    width: 19px;
    height: 19px;
    border-radius: 19px;
}
.outerWrapperInputFieldSlice {
    width: 28%;
}
.outerWrapperName {
    background: black;
    padding: 10px;
    margin: 4px;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    font-size: 12px;
    display: flex;
    color: white;
    font-weight: 600;
    justify-content: center;
    align-items: center;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
.outerWraperBorderStyle {
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, 0.151);
    margin: 12px 0px 0 0;
    padding: 10px 0px 5px 0;
    justify-content: space-between;
    align-items: center;
}
.InputFiledToolAndTechnology {
    text-align: center;
}
.backGroundColorDatePicker {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.3;
    z-index: 3;
}

.BulletsCoverSections {
    font-size: 20px;
    margin: 8px;
}
.HeightCoverLetter {
    min-height: 226px;
}
.BackGroundImage {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}
.Printer {
    border: 1px solid;
}
.backGroundColorDeleteIconBackUpCV {
    background-color: red;
}
.backGroundColorDeleteIconBackUpCV:hover {
    background-color: rgb(143, 10, 10);
}
.backGroundColorEditIconBackUpCV {
    background-color: rgb(96, 213, 186);
}
.backGroundColorEditIconBackUpCV:hover {
    background-color: rgb(44, 212, 173);
}
.DeleteIconBackUpCV {
    font-size: 50px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}
.BackGroundColorSectionBackupCv {
    background: black;
    opacity: 0.3;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    z-index: 9;
}
.BorderOuterSectionBackUpCv {
    border: 1px solid rgb(96, 213, 186);
    border-radius: 5px;
}
.InputFieldBachUpCv {
    font-size: 11px;
    border: unset;
    width: 100%;
}
.outerContainerBachUpCv {
    overflow-y: scroll;
    height: 615px;
    display: flex;
    // gap: 12px;
    flex-wrap: wrap;
}
.outerContainerBachUpCv::-webkit-scrollbar {
    width: 3px;
    background-color: white;
}

/* Track */
.outerContainerBachUpCv::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.outerContainerBachUpCv::-webkit-scrollbar-thumb {
    background: #888;
    width: 12px;
    height: 12px;
}

/* Handle on hover */
.outerContainerBachUpCv::-webkit-scrollbar-thumb:hover {
    background: #555;
    width: 12px;
}
.outerWrapperBackUpCvSection {
    background-color: white;
    padding: 8px;
    border-radius: 9px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    position: relative;
}
.AddNewCv {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 430px;
}
.AddNewCvIcons {
    font-size: 160px;
    color: white;
}
.AddNewCvIcons:hover {
    color: #60d5ba;
    transition: color 1.3s;
}
.RangesIndustryExperience {
    color: red !important;
    background-color: #00b400 !important;
    border: 1px solid !important;
}

.sliderinput::-ms-ticks-after,
.sliderinput::-ms-ticks-before {
    color: transparent;
}

.sliderinput::-ms-fill-upper {
    background: transparent;
}
.sliderinput::-ms-fill-lower {
    background: transparent;
}
.sliderinput::-ms-track {
    color: transparent;
    border-radius: 5px;
    border-color: transparent;
    height: 5px;
    margin-top: 0px;
    margin: 5px;
    background: #c8c8c8;
}
.sliderinput::-ms-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #00a886;
    cursor: pointer;
}
.outerWrapperSectionsHeadingValue {
    border: none;
    outline: none;
    font-weight: 700;
    width: 100%;
}
.medium-editor-element {
    word-wrap: break-word;
    overflow: hidden;
}
.FooterLeftHeading {
    color: #384347;
    opacity: 0.3;
    font-size: 14px;
}
.IconFacebookInFooter:hover {
    color: #0a58ca;
}
.DatePeriodCustomSection {
    font-size: 13px !important;
    width: 68px;
}
.PlusIconBookSections {
    border: 1px solid white;
    padding: 12px;
    border-radius: 50%;
    font-size: 55px;
    color: white;
}
.OuterWrapperPlusIconBookSections {
    background-color: #cccccc;
    border: 1px solid #a3a3a3;
    cursor: pointer;
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

$theme-color-primary: #12203a;

$theme-text-color-primary: $theme-color-primary;
$theme-text-color-secondary: lighten($theme-text-color-primary, 20%);
$theme-success-color: #5cb377;
$theme-warning-color: #eebf41;
$theme-info-color: #5b99ea;
$theme-danger-color: #ec575b;

//override bootstrap
$theme-colors: (
    "primary": $theme-color-primary,
    "secondary": $theme-text-color-secondary,
    "success": $theme-success-color,
    "danger": $theme-danger-color,
    "warning": $theme-warning-color,
    "info": $theme-info-color,
);

// @import '~@fortawesome/fontawesome-free/css/all.css';
// @import '~bootstrap/scss/bootstrap.scss';

html,
body,
#root {
    height: 100%;
}

.btn {
    &:focus,
    &:active {
        outline: none !important;
        box-shadow: none !important;
    }
}

a {
    &:focus,
    &:active {
        outline: none !important;
        box-shadow: none !important;
    }
}

.auth {
    .auth-background-holder {
        height: 100vh;
        min-height: 100%;
    }
}

.auth-main-col,
.auth-background-col {
    position: relative;
}

.auth-main-col {
    margin: auto;
}

.auth-background-col {
    background: rgba($theme-text-color-primary, 0.6);
}

.auth-background-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.1);
}

.auth-wrapper {
    background: white;
    height: 100vh;

    .auth-body {
        width: 360px;
    }

    .auth-heading {
        font-size: 1.5rem;
    }

    .auth-option {
        font-size: 0.875rem;
        > a {
            color: $theme-text-color-secondary;
        }
    }

    .forgot-password {
        > a {
            color: $theme-text-color-secondary;
        }
    }

    input:focus {
        box-shadow: none;
    }
}

@media (max-width: 767.98px) {
    .auth-background-col {
        display: none;
    }
}

.input-range__label--min,
.input-range__label--max {
    display: none !important;
}
.input-range__label-container {
    display: none !important;
}

.input-range__track {
    background: #eeeeee;
    border-radius: 1.3rem !important;
    cursor: pointer;
    display: block;
    height: 1rem !important;
    position: relative;
    transition: left 0.3s ease-out, width 0.3s ease-out;
}

.input-range__slider {
    display: none !important;
}