.rangeslider-horizontal .rangeslider__fill {
    height: 100%;
    background-color: #008cff !important;
    border-radius: 10px;
    top: 0;
}
.rangeslider-horizontal {
    height: 9px;
    border-radius: 10px;
}
.rangeslider,
.rangeslider .rangeslider__fill {
    display: block;
    box-shadow: unset;
}

.rangeslider {
    margin: 5px 0;
    position: relative;
    background: black;
    touch-action: none;
    cursor: pointer;
}
.rangeslider-horizontal .rangeslider__handle {
    display: none;
    color: #9b9b9b;
}
