.ContainerDatePicker {
  background-color: white;
  width: 298px;
  text-align: center;
  border-radius: 5px;
  padding: 30px;
  position: absolute;
  z-index: 4;
  left: 23%;
  }
  .OuterWraperHeadingButtonsDatePicker{
    display: flex;
    width: 419px;
    margin: -30px 0px 11px -30px;
  }
  .Bottons {
    width: 160px;
    color: #b2b4b6;
    font-size: 14px;
    padding: 10px;
    line-height: 31px;
    height: 34px;
    cursor: pointer;
     border-top-left-radius: 5px;
  }
  .Bottons1 {
    cursor: pointer;
    width: 158px;
    color: #b2b4b6;
    border-top-right-radius: 5px;
    font-size: 14px;
    line-height: 31px;
    padding: 10px;
    height: 34px;
  }
  .onGoing {
    /* border: 1px solid; */
    width: 82%;
    border-radius: 7px;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.048);
    padding: 10px 12px 10px 10px;
    margin: 0% 0px 0px 15px;
  }
  .Arrowkey {
    font-size: 31px;
    cursor: pointer;
    margin: 0px 9px 0px 8px;
  }
  .InnerContainerDatePicker {
    display: flex;
    grid-gap: 16px;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .number {
    height: 39px;
    width: 67px;
    line-height: 37px;
    border-radius: 18px;
    box-sizing: border-box;
    
  }
  .number:hover{
    border: 1px solid red !important;
  }
  .MidLine{
    border-bottom: 2px solid rgba(0, 0, 0, 0.116);
    width: 358px;
    margin: 10px 0px 15px -30px;
  }
  .TextHolderMidButtons{
    font-size: 19px;
    color: rgba(0, 0, 0, 0.185);
  }
  .CrossIcon{
    height: 39px;
    width: 67px;
    line-height: 37px;
    background-color: rgb(0, 192, 145);
    color: white;
    font-size: 23px;
    font-weight: 400;
    border-radius: 18px;
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
  }
  .crossIcon1950{
    /* border: 1px solid; */
    position: absolute;
  }
  .crossIcon1951{
    /* border: 1px solid red; */
    position: absolute;
    margin: 0 0 0 75px;
  }
  .crossIcon1952{
    /* border: 1px solid red; */
    position: absolute;
    margin: 0 0 0 153px;
  }
  .crossIcon1953{
    /* border: 1px solid red; */
    position: absolute;
    margin: 0 0 0 230px;
  }
  .borderCrossIcon1950{
    height: 39px;
    width: 67px;
    line-height: 37px;
    border-radius: 18px;
    box-sizing: border-box;
    position: absolute;
    z-index: -1;
  }
  .borderCrossIcon1951{
    height: 39px;
    width: 67px;
    line-height: 37px;
    border-radius: 18px;
    box-sizing: border-box;
    position: absolute;
    z-index: -1;
    margin: 0 0 0 75px;
  }
  .borderCrossIcon1952{
    height: 39px;
    width: 67px;
    line-height: 37px;
    border-radius: 18px;
    box-sizing: border-box;
    position: absolute;
    z-index: -1;
    margin: 0 0 0 153px;
  }
  .borderCrossIcon1953{
    height: 39px;
    width: 67px;
    line-height: 37px;
    border-radius: 18px;
    box-sizing: border-box;
    position: absolute;
    z-index: -1;
    margin: 0 0 0 230px;
  }
  .DateFrom{
    display: flex;
  }
  .YearFromcrosIcon{
    height: 39px;
    width: 67px;
    line-height: 37px;
    background-color: rgb(0, 192, 145);
    color: white;
    font-size: 23px;
    font-weight: 400;
    border-radius: 18px;
    box-sizing: border-box;
    z-index: 1;
  }
  .InnerContainerDatePickeryearfrom {
    /* border: 1px solid; */
    position: absolute;
  }